$link: #d34f73;
$link-active: #c14b6a;
$text: #0c0808;
$color1: #ffa737;
$color2: #dc851f;
$color3: #7e5920;
$color4: #fff6eb;

html,
body {
  font-family: 'Roboto', sans-serif;
  color: $text;
  background-color: $color4;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: $link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: $link-active;
}

.header {
  height: 300px;
  background-color: $color1;
  font-size: 22px;
  text-align: center;
}
.signIn {
  position: absolute;
  right: 20px;
}
.signIn a {
  margin: 10px;
}
.header .header-text {
  margin-block-start: 0;
  padding-top: 30px;
}
.searchBar {
  padding-top: 40px;
  display: inline-block;
  position: relative;
  height: 40px;
  width: 300px;
}
.searchBar .searchBar-input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 30px;
}
.searchBar .searchBar-input:focus {
  outline: 0;
}

.videoList {
  padding: 10px;
  text-align: center;
  max-width: 100%;
}

.videoList-box {
  display: inline-block;
  padding: 5px;
}
.videoList-image {
  width: 300px;
  height: 400px;
  background-color: $color3;
}

.inputElement {
  @extend .searchBar;
  padding-top: 20px;
}
.inputElement .inputElement-input {
  @extend .searchBar-input;
}
.inputElement .inputElement-input:focus {
  outline: 0;
}
.inputElement .inputElement-button {
  width: calc(100% + 6px);
  height: 100%;
  border-radius: 4px;
  font-size: 30px;
}
.inputElement .inputElement-button:hover {
  cursor: pointer;
  background-color: $color4;
}
.inputElement .inputElement-button:active {
  background-color: white;
}

main {
  text-align: center;
  height: calc(100% - 300px);
}

.signUpForm {
  display: inline-block;
  background-color: white;
  width: 80%;
  height: 100%;
}

#login {
  width: 500px;
  border-radius: 4px;
  border-width: 1px;
  top: 50px;
  text-align: center;
}
.dialog-close {
  float: right;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: red;
  border-radius: 100%;
  width: 20px;
  height: 19px;
  padding-top: 1px;
  text-align: center;
}
.dialog-close:hover {
  cursor: pointer;
  user-select: none;
}
dialog::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
